.lawyerProfile-general-header{
    height: 640px;
}

.lawyerProfile-container{
    margin-top: -722px;
    padding: 200px 0px 120px;
    /* border: 1px solid red; */
}

.lawyerProfile-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid lightgrey;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    flex-wrap: wrap;
}

.lawyerProfile-wrapper-left{
    width: 75%;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    /* border: 1px solid red; */

}

.lawyerProfile-imgBox{
    border: 1px solid lightgray;
    max-width: 200px;
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}    

.lawyerProfile-imgBox-img{
    border-radius: 5px;
    width: 100%;
    /* width: 114px; */
    /* height: 151px; */
    cursor: pointer;
}

.lawyerProfile-content{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.lawyerProfile-content-title{
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 12px;
}

.lawyerProfile-content-box{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.lawyerProfile-content-box-starCount{
    color: #1C1F24;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.lawyerProfile-content-box-list{
    display: flex;
    align-items: center;
    gap: 3px;
}

.lawyerProfile-content-box-reviews{
    color: #005C99;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border-right: 1px solid lightgrey;
    padding-right: 10px;
}

.lawyerProfile-content-box-rating{
    font-size: 14px;
    line-height: 22px;
    color: #4D4D4D;
    font-weight: 500;
}

.lawyerProfile-content-list{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lawyerProfile-content-item{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.lawyerProfile-content-item-icon{
    width: 16px;
    height: 16px;
    /* border: 1px solid red; */
}

.lawyerProfile-content-item-text, .lawyerProfile-content-item-textWorkAddress, .lawyerProfile-content-item-textPractice{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* border: 1px solid red; */
}

.lawyerProfile-content-item-textPractice{
    color: #636E7D;
}

.lawyerProfile-wrapper-right{
    /* border: 1px solid red; */
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 20px;
}

.lawyerProfile-wrapper-right-savedText{
    position: relative;
    /* border: 1px solid red; */
    max-width: 100px;
    width: 100%;
    text-align: center;
    padding: 3px 0px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #005C99;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease;
    border-radius: 5px;
    margin-bottom: 80px;
}

.lawyerProfile-wrapper-right-savedText::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 15px;
    top: 5px;
    background-image: url("./../images/save.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.lawyerProfile-wrapper-right-savedText:hover{
    box-shadow: 0 0 10px 1px grey;
    transition: all .2s ease;
}

.lawyerProfile-wrapper-right-link{
    background-color: #CDCFCE;
    display: flex;
    padding: 12px 6px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #000;
    transition: all .3s ease;
}

.lawyerProfile-wrapper-right-link:hover{
    box-shadow: 0 0 10px 1px #000;
    transition: all .3s ease;
}

.lawyerProfile-wrapper-right-link:active{
    transform: scale(.95);
}

.lawyerProfile-wrapper-right-link-icon{
    width: 20px;
    height: 20px;
}

.lawyerProfile-wrapper-text{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    line-height: 28px;
}

.userpicModal{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    backdrop-filter: blur(10px);
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
}

.userpicModal-active{
    display: flex;
}

.userpicModal-imgBox{
    max-width: 400px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.userpicModal-closeIcon{
    position: absolute;
    top: 100px;
    left: 64%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    transition: all .2s ease;
}

.userpicModal-closeIcon:hover{
    transition: all .2s ease;
    box-shadow: 0 0 10px 1px #fff;
}

.userpicModal-closeIcon:active{
    transform: scale(.9);
    transition: all .2s ease;

}

.userpicModal-imgBox-img{
    width: 100%;
}